<%- include('../partials/header') %>

<!-- action indicates where to submit the form -->

<form id="new-form" action="/recipes" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Ingredients:</label>
  <input type="text" name="ingredients">
  <label>Prep Time:</label>
  <input type="text" name="prepTime">
  <label>Cook Time:</label>
  <input type="text" name="cookTime">
  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>
